{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom1.css' %}">
</head>

<body>
  <div id="main">
    <div class="logo3">
      <div id="container" class="card" style="padding: 0.5rem;"><a href="{% url 'faculties' %}">
        <img src="https://cdn.pixabay.com/photo/2017/06/22/10/06/medical-2430228_1280.jpg" style="width: 100%;" alt="Image 2"></div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'nurse_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2021/11/27/06/12/hospital-6827347_1280.png"></a></div>
          <p><a href="{% url 'nurse_catalog' %}"><h4>Course Catalog</h4></a></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}