{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom1.css' %}">
</head>

<body>
    <div id="main">
    <div class="logo3">
    <a href="{% url 'faculties' %}">
    <div id="container" class="card" style="padding: 0.2rem;">
        <img src="https://cdn.pixabay.com/photo/2020/05/21/11/08/banner-5200270_1280.jpg" style="padding: 0.5rem;" alt="Image 1"></div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'eco_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2013/03/13/10/36/ball-93117_1280.jpg"></a></div>
          <p><a href="{% url 'eco_catalog' %}"><h4>Course Catalog</h4></a></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}