{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}">
 
</head>

<body>
    <div id="main">
    <div class="logo2">
    <div id="container" class="card">
      <a href="{% url 'faculties' %}">
      <img src="https://www.final.edu.tr/images/bolum/sliderlar-turkish-son-16jpg[1625729418].jpg" alt="Image 1"></a></div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'PSYEO_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2018/01/22/11/12/time-3098699_1280.jpg"></a></div>
          <p><a href="{% url 'PSYEO_catalog' %}"><h4>Course Catalog</h4></a><h5> (Before 2018-2019 Academic Year)</h5></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'PSYEN_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2019/12/10/05/51/psychology-4685006_1280.jpg"></a></div>
        <p><a href="{% url 'PSYEN_catalog' %}"><h4>Course Catalog</h4></a><h5>(2021 - 2022 Academic Year and Beyond)</h5></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}