{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}">

</head>

<body>
  
  <div id="main">
    <div class="logo2">
      
    <div id="container" class="card"><h1>DİŞ HEKİMLİĞİ</h1><a href="{% url 'faculties' %}">
        <img src="https://www.final.edu.tr/images/bolum/sliderlar-dis-hekimligi-03jpg[1651755285].jpg"alt="Image 1"></div>
    </div>

  <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
        <div><a href="{% url 'dentT_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2020/08/27/18/30/teeth-5522650_1280.jpg"></a></div>
          <p><a href="{% url 'dentT_catalog' %}"><h4>Course Catalog</h4></a></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}