
    body{
        padding: 80px 60px;
        text-align: left;
        width: 100%;
        background-image:  url("/static/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }
   
    .centered-table {
        margin: 0 auto; 
        border-collapse: collapse; 
        border: 1px solid gray; 
        width: 30%; 
    }

    .centered-table th,
    .centered-table td {
        border: 1px solid grey; 
        padding: 5px; 
        text-align: center; 
    }

    .centered-table th {
        background-color: white; 
    }

    .centered-table tr:nth-child(even) {
        background-color: #f2f2f2; 
    }

    .centered-table tr:hover {
        background-color: #ddd;
    }
    
    .centered-table2 {
        margin: 0 auto; 
        border-collapse: collapse; 
        border: 1px solid gray; 
        width: 30%; 
    }

    .centered-table2 th,
    .centered-table2 td {
        border: 1px solid whitesmoke; 
        padding: 5px; 
        text-align: center; 
    }

    .centered-table2 th {
        background-color: whitesmoke; 
    }

    .centered-table2 tr:nth-child(even) {
        background-color: #f2f2f2; 
    }

    .centered-table2 tr:hover {
        background-color: #ddd;
    }

    .card2  {
        background-color: #2c2b2b;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0rem;
        position: absolute; 
        bottom: 0; 
        left: 50%; 
        transform: translateX(-50%); 
        width: 100%;
        text-align: center;
    }
    .logo3 img {
    height: 30px; 
    width: auto; 
    }

    .copyright {
    display: inline-block; 
    margin: 0;
    color: #FFFFFF; 
    }

    .footer-logo {
    display: inline-block; 
    vertical-align: middle;
    margin-left: 10px;
    
    }
