
body{
    padding: 8px 60px;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: center;
}

th {
background-color: #f2f2f2;
}
.dashboard {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1rem;
padding: 1rem;
}

.card {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
padding: 1rem;
overflow: hidden;
}

.card h2 {
font-size: 1.5rem;
margin-top: 0;
margin-bottom: 0.5rem;
}

.card p {
font-size: 1rem;
margin-top: 0;
margin-bottom: 1rem;
}

@media (max-width: 768px) {
.dashboard {
  grid-template-columns: 1fr;
}
}

.flex-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 0px;
}

.left-side {
display: flex;
align-items: center;
}

.left-side > * {
margin-right: 10px;
}

.right-side {
margin-left: auto;
}

.logo2 img {
     
      max-width: 100%; 
      height: auto; 
      margin: 0 auto;
      border-radius: 2px;
}

#main {
  margin-top: 70px;
  }