{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}">
</head>

<body>
    <div id="main">
    <div class="logo3"><a href="{% url 'faculties' %}">
    <div id="container" class="card" style="padding:0.2rem;">
        <img src="https://cdn.pixabay.com/photo/2016/04/02/14/01/money-1302835_1280.jpg" style="width: 100%;" alt="Image 1"></a></div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'ITBO_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2021/10/08/04/55/stock-market-6690189_1280.jpg"></a></div>
          <p><a href="{% url 'ITBO_catalog' %}"><h4>Course Catalog</h4></a><h5> (Before 2018-2019 Academic Year)</h5></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'ITBN_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2016/04/20/08/21/entrepreneur-1340649_1280.jpg"></a></div>
        <p><a href="{% url 'ITBN_catalog' %}"><h4>Course Catalog</h4></a><h5>(2021 - 2022 Academic Year and Beyond)</h5></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}