{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}">
  
</head>

<body>
  <div id="main">
    <div class="logo3">
      <div id="container" class="card" style="padding: 0.3rem;">
        <a href="{% url 'faculties' %}">
        <img src="https://cdn.pixabay.com/photo/2016/11/24/08/11/planning-1855637_1280.jpg" style="width: 100%;" alt="Image 1"></a>   
      </div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'IAO_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2016/11/18/17/20/living-room-1835923_1280.jpg"></a></div>
          <p><a href="{% url 'IAO_catalog' %}"><h4>Course Catalog</h4></a><h5> (Before 2018-2019 Academic Year)</h5></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'IAN_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2024/04/23/11/56/building-8714884_1280.jpg"></a></div>
        <p><a href="{% url 'IAN_catalog' %}"><h4>Course Catalog</h4></a><h5>(2021 - 2022 Academic Year and Beyond)</h5></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}