{% extends 'base.html' %}

{% block content %}

{% block title %}
<h1 class="my-4">Assign Role</h1>
{% endblock %}

<body>
    <div class="container">
        <h2>Assign a teacher to a course:</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="course">Course:</label>
                <select class="form-control" id="course" name="course_id">
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="teacher">Teacher:</label>
                <select class="form-control" id="teacher" name="user_id">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select class="form-control" id="role" name="role">
                    <option value="teacher">Teacher</option>
                    <option value="supervisor">Supervisor</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Assign</button>
        </form>
    </div>
</body>

{% endblock %}