<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Report Sheet</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <main>
      {% block content %}
        <section id="course-catalog">
            <h2>Course Catalog</h2>
            <div class="course">
                
            </div>
            
        </section>
        <section id="grade-entry">
            <h2>Grade Entry</h2>
            <form>
                <label for="course-select">Select Course:</label>
                <select id="course-select">
                    <option value="course1">Course 1</option>
                    <option value="course2">Course 2</option>
                    
                </select>
                <label for="grade-input">Enter Grade:</label>
                <input type="text" id="grade-input" placeholder="Enter grade...">
                <button type="submit">Submit</button>
            </form>
        </section>
      {% endblock %}
       
    </main>
    <footer>
        <p>&copy; 2024 AcademEase</p>
    </footer>
</body>
</html>
