<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Report Sheet</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <!-- Navigation links for each role -->
        {% if user.is_authenticated and user.role == 'supervisor' %}
            <a href="{% url 'supervisor_dashboard' %}">Admin Dashboard</a>
        {% endif %}

        {% if user.is_authenticated and user.role == 'teacher' %}
            <a href="{% url 'teacher_dashboard' %}">Teacher Dashboard</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 AcademEase</p>
    </footer>
</body>
</html>
