{% extends 'base.html' %}

{% block content %}

<style>

    body{
        padding: 80px 60px;
        text-align: left;
        width: 100%;
    }
   
    .centered-table {
        margin: 0 auto; 
        border-collapse: collapse; 
        border: 1px solid black; 
        width: 50%; 
    }

    .centered-table th,
    .centered-table td {
        border: 1px solid grey; 
        padding: 5px; 
        text-align: center; 
    }

    .centered-table th {
        background-color: white; 
    }

    .centered-table tr:nth-child(even) {
        background-color: #f2f2f2; 
    }

    .centered-table tr:hover {
        background-color: #ddd;
    }
    
    .centered-table2 {
        margin: 0 auto; 
        border-collapse: collapse; 
        border: 1px solid black; 
        width: 50%; 
    }

    .centered-table2 th,
    .centered-table2 td {
        border: 1px solid whitesmoke; 
        padding: 5px; 
        text-align: center; 
    }

    .centered-table2 th {
        background-color: whitesmoke; 
    }

    .centered-table2 tr:nth-child(even) {
        background-color: #f2f2f2; 
    }

    .centered-table2 tr:hover {
        background-color: #ddd;
    }


</style>
<body>
<table class="centered-table2">
    <tr>
        <th>
    <div class="logo"><img src="https://lms3.final.edu.tr/LMS/pluginfile.php/1/core_admin/logo/0x150/1633438538/ufulogoen4.png" alt="Logo of Final International University LMS 3" class="img-fluid"></div>
    <tr>
        <th>
</table>

<table class="centered-table">
    <tr>
        <th>
                
    <h5>Plese login with your username and password</h5>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Login</button>
    </form>
</th>
</tr>
</table>
</body>
{% endblock %}
