{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <h1 class="my-4">New Curriculum</h1>

    <!-- DataTables --> 
    <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">

    <style>

        body{
            padding: 8px 60px;
        }

        table {
      border-collapse: collapse;
      width: 100%;
        }
    
        th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
        }
    
        th {
      background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    
<table>
    <tr>
        <th>
            <div class="logo"><img src="https://lms3.final.edu.tr/LMS/pluginfile.php/1/core_admin/logo/0x150/1633438538/ufulogoen4.png" alt="Logo of Final International University LMS 3" class="img-fluid"></div>
            <h4 class="display">FACULTY OF ENGINEERING</h4> 
            <h6>COMPUTER ENGINEERING Program of Courses</h6>
        </th>
    </tr>
</table>

<table id="myTable" class="display">
     <thead>
        <tr>
            <th>Semester</th>
            <th>Course Code</th>
            <th>Course Title</th>
            <th>Category</th>
            <th>Hours</th>
            <th>total_credits</th>
            <th>Pre-requisite</th>
            <th>ECTS Credit</th>
      
        </tr>
    </thead>
    <tbody id="tablebody">
    {% for newcatalog in new_courses %}
        <tr>
            <td>{{ newcatalog.semester }}</td>
            <td>{{ newcatalog.course_code }}</td>
            <td>{{ newcatalog.title }}</td>
            <td>{{ newcatalog.category }}</td>
            <td> Lecture: {{ newcatalog.hours_lecture }} Tutorial: {{ newcatalog.hours_tutorial }} Lab: {{ newcatalog.hours_lab }} </td>    
            <td>{{ newcatalog.total_credits }}</td>
            <td>{{ newcatalog.pre_requisite }}</td>
            <td>{{ newcatalog.ects_credit }}</td>
        
    {% for grade in grades %}
        {% if grade.course.code == course.code %}
            {% if grade.grades == 'A' %} 
                <span style="background-color: green;">{{ grade.grade }}</span>
            {% elif grade.grades == 'D' %} 
                <span style="background-color: orange;">{{ grade.grade }}</span> 
            {% elif grade.grades >= 'D+' %} 
                <span style="background-color: green;">{{ grade.grade }}</span>
            {% else %} 
            <span style="background-color: red;">{{ grade.grade }}</span>
            {% endif %}
            {% else %} 
            <span></span> 
        {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    </body>

</table>

 <!-- Jquery -->

<script src="{%static 'jquery/jquery-3.7.1.min.js' %}"></script>

 <!-- DataTables --> 

 <script src="{%static 'datatables/dataTables.js' %}"></script>

 <script>

    let table = new DataTable('#myTable', {
    // options
    });

 </script>

{% endblock %}

