{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}">
</head>

<body>
  <div id="main">
    <div class="logo2"><a href="{% url 'faculties' %}">
    <div id="container" class="card">
      <img src=" https://www.final.edu.tr/images/bolum/elektirik-elektronik-muhjpg[1562919394].jpg" alt="Image 1"></a></div>
    </div>
   
  <div id="container" class="card" > 
    <div class="dashboard">
      
      <div class=" card2" role="listitem">
          <div><a href="{% url 'elec_old_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2016/06/08/05/45/circuit-1443256_1280.jpg"></a></div>
          <p><a href="{% url 'elec_old_catalog' %}"><h4>Old Catalog</h4></a></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'elec_new_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2020/07/05/08/17/mother-board-5372109_1280.jpg"></a></div>
        <p><a href="{% url 'elec_new_catalog' %}"><h4>New Catalog</h4></a></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}