{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/Custom2.css' %}">
</head>

<body>
  <div id="main">
    <div class="logo3"><a href="{% url 'faculties' %}">
      <div id="container" class="card" style="padding: 0.5rem;">
        <img src="https://cdn.pixabay.com/photo/2022/03/02/07/47/together-7042568_1280.jpg" style="width: 100%;"alt="Image 1"></a></div>
      </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'PSIRO_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2017/06/28/08/29/board-2450096_1280.jpg"></a></div>
          <p><a href="{% url 'PSIRO_catalog' %}"><h4>Course Catalog</h4></a><h5> (Before 2018-2019 Academic Year)</h5></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'PSIRN_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2020/11/23/03/56/handshake-5768632_1280.jpg"></a></div>
        <p><a href="{% url 'PSIRN_catalog' %}"><h4>Course Catalog</h4></a><h5>(2021 - 2022 Academic Year and Beyond)</h5></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}