{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}"> 

  
</head>

<body>
    <div id="main">
    <div class="logo2"><a href="{% url 'faculties' %}">
    <div id="container" class="card">
        <img src="https://www.final.edu.tr/images/bolum/hukukjpg[1562921538].jpg" alt="Image 1"></div></a>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'LAWO_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2016/12/11/08/45/law-1898974_1280.png"></a></div>
          <p><a href="{% url 'LAWO_catalog' %}"><h4>Course Catalog</h4></a><h5> (Before 2018-2019 Academic Year)</h5></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'LAWN_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2021/08/24/09/47/justice-6570152_1280.png"></a></div>
        <p><a href="{% url 'LAWN_catalog' %}"><h4>Course Catalog</h4></a><h5>(2021 - 2022 Academic Year and Beyond)</h5></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}