{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}">  
</head>

<body>
    <div id="main">
    <div class="logo2"><a href="{% url 'faculties' %}">
    <div id="container" class="card">
        <img src="https://www.final.edu.tr/images/bolum/isletmejpg[1563450804].jpg" alt="Image 1"></div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'be_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2019/04/30/10/47/background-4168284_1280.jpg"></a></div>
          <p><a href="{% url 'be_catalog' %}"><h4>Course Catalog</h4></a></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}