{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/custom2.css' %}">
   
</head>

<body>
  <div id="main">
    <div class="logo2">
      <div id="container" class="card">
        <a href="{% url 'faculties' %}"><img src="https://www.final.edu.tr/images/bolum/mimarlikjpg[1562921441].jpg" alt="Image 1"></a>
      </div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">
  
      <div class="card2" role="listitem">
          <div><a href="{% url 'ARCHO_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2020/03/29/19/20/theatre-4981936_1280.jpg"></a></div>
          <p><a href="{% url 'ARCHO_catalog' %}"><h4>Course Catalog</h4></a><h5> (Before 2018-2019 Academic Year)</h5></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'ARCHN_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2018/10/08/17/43/architecture-3733130_1280.jpg"></a></div>
        <p><a href="{% url 'ARCHN_catalog' %}"><h4>Course Catalog</h4></a><h5>(2021 - 2022 Academic Year and Beyond)</h5></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}