{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!-- DataTables --> 
  <link rel="stylesheet" href="{%static 'datatables/dataTables.css' %}">
  <link rel="stylesheet" href="{%static 'css/Custom2.css' %}">

  
</head>

<body>
    <div id="main">
    <div class="logo2"><a href="{% url 'faculties' %}">
    <div id="container" class="card" style="padding: 0.1em;">
        <img src="https://www.final.edu.tr/images/bolum/akdmjpg[1563882678].jpg" style="padding: 0.5em;" alt="Image 1"></a></div>
    </div>
    
    <div id="container" class="card" >
    <div class="dashboard">

      <div class="card2" role="listitem">
          <div><a href="{% url 'IFBO_catalog' %}"class="logo3"><img src="https://cdn.pixabay.com/photo/2015/09/25/11/31/visa-957187_1280.jpg"></a></div>
          <p><a href="{% url 'IFBO_catalog' %}"><h4>Course Catalog</h4></a><h5> (Before 2018-2019 Academic Year)</h5></p>
      </div>
      <div class="card2" role="listitem">
        <div><a href="{% url 'IFBN_catalog' %}" class="logo3"><img src="https://cdn.pixabay.com/photo/2022/10/18/11/08/finance-7529921_1280.jpg"></a></div>
        <p><a href="{% url 'IFBN_catalog' %}"><h4>Course Catalog</h4></a><h5>(2021 - 2022 Academic Year and Beyond)</h5></p>
      </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}